@{
    Layout = "_IngresoLayout";
    ViewData["Title"] = "Contraseña temporal";
}

<h2>Ha sido enviada una contraseña temporal para tí.</h2>
<hr />

<p>Revisa tu correo electrónico para obtener la nueva contraseña temporal</p>
<p>No compartas esta contraseña con nadie, es para un unico uso personal!</p>
<p>No olvides actualizar tu contraseña al iniciar sesión en tu e-banca</p>

<a asp-action="InicioSesion" class="btn btn-primary">Iniciar sesión</a>